<link rel="stylesheet" href="/stylesheets/siwg.css">
<link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>
  <% if (user) { %>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark animate__animated animate__slideInDown">
    <div class="container-fluid">
      <p class="navbar-brand">ZooMingle<i class="fa-solid fa-shrimp"></i></p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/animals/">Browse All Animals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/zoos">Safari</a>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><img
                  src="<%= user.profile.avatar %>"
                  alt="<%= user.profile.name %> avatar" class="avatar"/><p class="hello">Hi, <%= user.profile.name %>!</p></li>
                <li><a class="dropdown-item" href="/profiles/user">Your Profile</a></li></li>
                <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                </a>
              </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <% } %>