<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<form action="/profiles/createZoo" method="POST">
  <input type="text" name="name">Zoo Name</input>
  <button>Create Zoo</button>
</form>

<%- include('../partials/footer') %>
