<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (!user) { %>
    <div id="login">
      ZooMingle
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
    </div>
<% }else { %>

<% } %> 
</main>

<%- include('./partials/footer') %>
