<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (!user) { %>
    <div class="snowflakes">
      <div class="snowflake"><i class="fa-solid fa-dog"></i></div>
      <div class="snowflake"><i class="fa-solid fa-hippo"></i></div>
      <div class="snowflake"><i class="fa-solid fa-otter"></i></div>
      <div class="snowflake"><i class="fa-solid fa-frog"></i></div>
      <div class="snowflake"><i class="fa-solid fa-crow"></i></div>
      <div class="snowflake"><i class="fa-solid fa-fish"></i></div>
      <div class="snowflake"><i class="fa-solid fa-dragon"></i></div>
      <div class="snowflake"><i class="fa-solid fa-shrimp"></i></div>
      <div class="snowflake"><i class="fa-solid fa-kiwi-bird"></i></div>
      <div class="snowflake"><i class="fa-solid fa-horse"></i></div>
      <div class="snowflake"><i class="fa-solid fa-cat"></i></div>
    </div>
    </div>
    <div id="login">
      ZooMingle
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
    </div>
<% }else { %>
<h1>Welcome to Zoomingle!</h1>
<h2>Go to the safari to start collecting animals to add to your zoo. Then, go to your profile to create a zoo and add those animals to whatever Zoo you'd like!</h2>
<% } %> 
</main>

<%- include('./partials/footer') %>
