.avatar {
  border-radius: 50%;
  padding: 10px;
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Rock Salt', cursive;
}

.nav-item {
  font-family: 'Cabin Sketch', cursive;
}

.dropdown-menu {
  text-align: center;
}