.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 10px 0px;
  padding: 10px;
  grid-auto-flow: row;
  /* grid-template-areas:
    "card . . . ."
    ". . . . ."
    ". . . . ."; */
}
/* 
.card { grid-area: card; } */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50px;
  margin: 0 auto;
  text-align: center;
}

.animalpic {
  margin: 0 auto;
  height: 75%;
  width: 75%;
}

h2 {
  text-align: center;
  font-size: 50px;
}